@import url('reset.css');

/* .container {
    max-width: 1020 px;
    margin: 0 auto;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
}

section {

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(/img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top, .menu__top {
    display: flex;
    justify-content: space-between;
}

.header__bottom {
    font-family: Inter;
    font-weight: 800;
    font-style: italic;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
    vertical-align: middle;
}

.header__title {
    margin-top: 40px;
    margin-bottom: 0;
}

.menu {
    height: 100vh;
    padding: 64px 120px;
    outline: 1px dotted;
    background-color: #E8EFF9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu:target {
    transform: translateX(0%);
}

/* .header__top__burger:hover {
    background-image: url(../img/icons/Icon-Burger-menu-hover.svg);
    background-color: rgba(red, green, blue, 1);
} */

.menu__nav {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.menu__nav__link {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
}

.main {
    padding: 120px;
}

.recommended {
    margin-bottom: 120px;
}

.recommended__title, .categories__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
}

.recommended__products {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.product__photo {
    width: 100%;
    margin-bottom: 32px;
}

.product__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
}

.product__category {
    margin-top: 0;
    margin-bottom: 12px;
}

.product__price {
    font-weight: 700;
}

.how-to-buy__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;    
}